<style>
  code {
    white-space: pre-wrap;
  }
</style>

<h2>
  Plugins
</h2>

<div>
  <% @plugins.each do |plugin| %>
    <hr />
    <h4><%= plugin.plugin_name %></h4>
    <p><%= plugin.description %></p>
    <p><%= link_to 'Homepage', plugin.homepage %></p>
    <code><%= render file: plugin.plugin_path, layout: false %></code>
    <%= button_to 'Add', users_plugins_path(plugin.id), params: { plugin_id: plugin.id }, method: :post %>
  <% end %>
</div>

